<header class="navbar">
    <nav>
        <ul class="nav-list">
            <li class="nav-item" style="display:flex;align-items:center;" onclick="publicFunction.toGit()">
                <img src="<%- publicPath %>static/avatar.png" class="chelizichen-png">
                <div class="chelizichen">chelizichen</div>
            </li>
            <li class="nav-item"><a href="<%- publicPath %>web/bk" class="nav-link">板块涨幅</a></li>
            <li class="nav-item"><a href="<%- publicPath %>web/bk_main" class="nav-link">主力方向</a></li>
            <li class="nav-item"><a href="<%- publicPath %>web/trade_money" class="nav-link">资金流向</a></li>
            <li class="nav-item"><a href="<%- publicPath %>web/trade_his" class="nav-link">历史成交</a></li>
            <li class="nav-item"><a href="<%- publicPath %>web/kline" class="nav-link">K线</a></li>
            <li class="nav-item"><a href="<%- publicPath %>web/preview_list" class="nav-link">已保存</a></li>
            <li class="nav-item"><a href="#footer" class="nav-link">关于</a> <span
                    style="font-size: 12px;margin-left:40px">当前节点 <%- NODE %></span>
            </li>
            <li class="nav-item" style="position: absolute;right:0">
                <input type="text" id="saveToPngInput" placeholder="输入文件名称"
                    style="width: 100px;height: 30px;margin-right: 10px;">
                <a onclick="publicFunction.convert()" class="saveToPng">保存</a>
            </li>

        </ul>
    </nav>
</header>