<%- include('head', {publicPath: publicPath}); %>

    <body>
        <%- include('header', {publicPath: publicPath}); %>
            <div
                style="width: 85vw;height:60vh;padding:10vh 10vw 0 5vw;display:flex;align-items:flex-start;justify-content:space-between;">

                <ul class="stocklist-ul">
                    <li style="font-weight: 900;">
                        短线精灵
                    </li>
                    <li style="font-weight: 400;font-size:12px">
                        只在盘前和盘后交易
                    </li>
                    <br>
                    <% chooseData.forEach(function(item) { %>
                        <li class="stocklist-li">
                            <span onclick="replaceURL('<%= item.code %>')" style="cursor:pointer">
                                <%= item.name %>
                            </span>
                        </li>
                        <% }); %>

                            <section>
                                <div>
                                    <span> 股票名称:</span>
                                    <br>
                                    <input id="stockName" value="<%- name %>" disabled>
                                </div>
                                <div>
                                    <span> 收盘价:</span>
                                    <br>
                                    <input id="closePrice" value="<%- CURRENT.fClose %>" disabled>
                                </div>
                                <div>
                                    <span> 涨跌幅:</span>
                                    <br>
                                    <input id="rate" value="<%- CURRENT.rate %>" disabled>
                                </div>
                                <div>
                                    <span> 数量:</span>
                                    <br>
                                    <input id="total">
                                </div>
                                <div>
                                    <span> 交易:</span>
                                    <br>
                                    <button onclick="trade(1)">Buy</button>
                                    <button onclick="trade(2)">Sell</button>
                                </div>
                            </section>
                </ul>
                <div id="today_chart" style="width: 90%;height:60vh;"></div>
            </div>
            <div
                style="width: 80vw;;padding:10vh 10vw 0 10vw;display:flex;align-items:flex-start;justify-content:center;margin-bottom:50px">
                <div id="his_chart" style="width: 90%;height:40vh;"></div>
            </div>
            <div
                style="width: 80vw;;padding:10vh 10vw 0 10vw;display:flex;align-items:flex-start;justify-content:center;margin-bottom:50px">
                <div class="plan_box">
                    <h2 style="text-align: center;margin-bottom:20px">调仓历史</h2>
                    <table>
                        <thead>
                            <td class="head" style="width: 204px;">ID</td>
                            <td class="head" style="width: 176px;">USERID</td>
                            <td class="head" style="width: 190px;">CODE</td>
                            <td class="head" style="width: 190px;">TYPE</td>
                            <td class="head" style="width: 190px;">PRICE</td>
                            <td class="head" style="width: 190px;">TOTAL</td>
                            <td class="head" style="width: 190px;">CREATETIME</td>
                            <td class="head" style="width: 190px;">PROFIT</td>
                        </thead>
                        <tbody>
                            <% TRADERECORD.forEach(function(item) { %>
                                <tr>
                                    <td>
                                        <%= item.id %>
                                    </td>
                                    <td>
                                        <%= item.userId %>
                                    </td>
                                    <td>
                                        <%= item.code %>
                                    </td>
                                    <td>
                                        <%= item.type %>
                                    </td>
                                    <td>
                                        <%= item.price %>
                                    </td>
                                    <td>
                                        <%= item.total %>
                                    </td>
                                    <td>
                                        <%= item.createTime %>
                                    </td>

                                    <td>
                                        <%= ((CURRENT.fNow - item.price)*item.total).toFixed(2) %>（YUAN）
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>


            <%- include('footer', {publicPath: publicPath}); %>

                <script defer>
                    (function () {
                        // 初始化图表实例
                        var myChart = echarts.init(document.getElementById("today_chart"));

                        var data = JSON.parse('<%- today_chart_data %>')
                        var dates = data.map(function (item) {
                            return item[0];
                        });

                        var dataValues = data.map(function (item) {
                            return [+item[1], +item[2], +item[3], +item[4], +item[5], +item[6], +item[7]];
                        });

                        var option = {
                            title: {
                                text: '<%- name %>',
                                subtext: "今日"
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'cross'
                                },
                                formatter: function (params) {
                                    let param = params[0];
                                    return `${param.name}<br/>`
                                        + `开盘: ${param.data[1]}<br/>`
                                        + `收盘: ${param.data[2]}<br/>`
                                        + `最高: ${param.data[3]}<br/>`
                                        + `最低: ${param.data[4]}<br/>`
                                        + `成交量: ${data.find(d => d[0] === param.name)[5]}<br/>`
                                        + `成交额: ${data.find(d => d[0] === param.name)[6]}<br/>`
                                        + `振幅: ${data.find(d => d[0] === param.name)[7]}%<br/>`
                                }
                            },
                            xAxis: {
                                type: 'category',
                                data: dates,
                                boundaryGap: false,
                                axisLine: {
                                    show: false // 隐藏 X 轴轴线
                                },
                                axisTick: {
                                    show: false // 隐藏 X 轴刻度线
                                },
                                splitLine: {
                                    show: true,
                                    lineStyle: {
                                        color: "rgba(77, 128, 254, 0.2)",
                                        width: 2
                                    }
                                }
                            },
                            yAxis: {
                                scale: true
                            },
                            series: [{
                                type: 'candlestick',
                                data: dataValues,
                                itemStyle: {
                                    color: '#ec0000',
                                    color0: '#00da3c',
                                    borderColor: '#8A0000',
                                    borderColor0: '#008F28'
                                }
                            }]
                        };

                        myChart.setOption(option);
                    }())
                </script>
                <script defer>
                        (function () {
                            // 初始化图表实例
                            var myChart = echarts.init(document.getElementById("his_chart"));

                            var data = JSON.parse('<%- his_chart_data %>')

                            var dates = data.map(function (item) {
                                return item[0];
                            });

                            var dataValues = data.map(function (item) {
                                return [+item[1], +item[2], +item[3], +item[4], +item[5], +item[6], +item[7]];
                            });

                            var option = {
                                title: {
                                    text: '<%- name %>',
                                    subtext: "历史"
                                },
                                tooltip: {
                                    trigger: 'axis',
                                    axisPointer: {
                                        type: 'cross'
                                    },
                                    formatter: function (params) {
                                        let param = params[0];
                                        return `${param.name}<br/>`
                                            + `开盘: ${param.data[1]}<br/>`
                                            + `收盘: ${param.data[2]}<br/>`
                                            + `最高: ${param.data[3]}<br/>`
                                            + `最低: ${param.data[4]}<br/>`
                                            + `成交量: ${data.find(d => d[0] === param.name)[5]}<br/>`
                                            + `成交额: ${data.find(d => d[0] === param.name)[6]}<br/>`
                                            + `振幅: ${data.find(d => d[0] === param.name)[7]}%<br/>`
                                            + `涨跌幅: ${data.find(d => d[0] === param.name)[8]}%<br/>`
                                            + `涨跌额: ${data.find(d => d[0] === param.name)[9]}<br/>`
                                            + `换手率: ${data.find(d => d[0] === param.name)[10]}%`;
                                    }
                                },
                                xAxis: {
                                    type: 'category',
                                    data: dates,
                                    boundaryGap: false,
                                    axisLine: {
                                        show: false // 隐藏 X 轴轴线
                                    },
                                    axisTick: {
                                        show: false // 隐藏 X 轴刻度线
                                    },
                                    splitLine: {
                                        show: true,
                                        lineStyle: {
                                            color: "rgba(77, 128, 254, 0.2)",
                                            width: 2
                                        }
                                    }
                                },
                                yAxis: {
                                    scale: true
                                },
                                series: [{
                                    type: 'candlestick',
                                    data: dataValues,
                                    itemStyle: {
                                        color: '#ec0000',
                                        color0: '#00da3c',
                                        borderColor: '#8A0000',
                                        borderColor0: '#008F28'
                                    }
                                }]
                            };

                            myChart.setOption(option);
                        }())
                </script>
                <script>
                    var replaceURL = function (code = 6000000) {
                        var url = window.location.href;
                        var u = new URL(url)
                        u.searchParams.set('code', code)
                        var target = u.toString()
                        window.location.href = target
                    }
                    var trade = function (type) {
                        const total = document.getElementById("total").value;
                        fetch(`<%- publicPath %>stockBaseInfo/get?code=<%- CURRENT.code %>`).then(res => res.json()).then(res => {
                            const data = res.data;
                            const userId = 0;
                            const code = data.code;
                            const price = data.fClose;
                            const body = {
                                total,
                                type,
                                userId,
                                code,
                                price
                            }
                            fetch('<%- publicPath %>tradecontroller/trade', {
                                method: 'POST',
                                body: JSON.stringify(body),
                                headers: {
                                    "Content-Type": "application/json",
                                },
                            }).then(res => res.json()).then(res => {
                                console.log(res);
                            })
                        })
                    }
                </script>

    </body>

    </html>