<%- include('head', {publicPath: publicPath}); %>


    <body>
        <%- include('header', {publicPath: publicPath}); %>
            <h1 style="text-align: center;">历史数据留痕</h1>
            <div style="display: flex;justify-content:center;min-height:80vh">
                <ul>
                    <% images.forEach(function(image) { %>
                        <li class="history-png-li">
                            <img src="<%- publicPath %>preview/<%= image %>" alt="<%= image %>" class="history-png">
                            <a href="<%- publicPath %>preview/<%= image %>" class="history-png-a">
                                <%= image %>
                            </a>
                        </li>
                        <% }) %>
                </ul>
            </div>

            <%- include('footer', {publicPath: publicPath}); %>
    </body>

    </html>